<!DOCTYPE html>
<% provide(:title, "About") %>


<div class="about-us center">
  <h1>Journey（ジャーニー）って？</h1>
  <h3>Journey(ジャーニー)は日本の観光地の口コミサイトです!</h3>
  <p>日本の地方格差は年々高まっている。</p>
  <p>作者は去年、東日本一周の旅を行った。</p>
  <p>そこには僕が知らなかった素晴らしい地方の魅力があった。</p>
  <p>まだ知らない、素晴らしい日本の魅力を知ろう！！！</p>
  <%= link_to "新規登録",signup_path ,class: "btn-gradation"%>
</div>