<% provide(:title, 'Contact') %>
<h1>山本淳一郎です！！</h1>
<p>
  開発者
</p>
<p>
　僕は大学入学と同時に体育会系サッカー部に入部しましたが、1年生末に大怪我を負い、
　退屈な日々を過ごしていた。しかし、朝活と出会い、僕の人生を活気に溢れる物とし、
　その魅力を多くの人に伝えたいと思い、朝活サークルを設立する。その中で自らが挑戦する姿を見せたいと思い、
　「自転車で東日本一周旅」、「毎日朝活投稿」、「フィジーク大会出場」、
　メンバーの発信機会を増やすためにRailsを用いた「webアプリ」など様々な挑戦をし続け、
　それを発信していった。現在は20人を超える規模にまでなっている。
　ぜひ、興味がある方は私のInstagramのDMよりご連絡ください。
</p>
<p>
  <a href="https://www.instagram.com/officialjuuun/">Instagram for me</a>.
</p>
