<% provide(:title, 'Contact') %>
<h1>Journey</h1>
<p>
  開発者
</p>
<p>
私は大学入学と同時に体育会系サッカー部に入部したが、1年生末に大怪我を負い、復帰絶望となり、途方に暮れていた。そんなある日、一本の動画で「朝活」の 素晴らしさを知り、それを実行することで、私の人生は活気溢れる物に変わった。その魅力を伝え多くの人に勇気を与えたいと思い、朝活サークルを設立した。知名度、発信力の低さから、初めは 3 人しかいなかった。その中で自らの発信力を向上するために、そして自らが挑戦して行く姿を見せたいと思った「自転車で東日本一周旅」、どんな時も朝活をしその魅力を伝え続けた「毎日朝活投稿」、学内での知名度の向上を目指した「学園祭女装コンテストでのグランプリ」、YouTube活動で再生数の伸びが良かった筋トレ系で更なる知名度獲得を目指した「フィジーク大会出場」など、次々と新たな挑戦をしていった。そして、朝活サークルのメンバーは 20人を超える規模にまで発展した。しかし、メンバーが多くなるのと同時に、月2回の会議でメンバーそれぞれの発信機会が減ってしまうという、葛藤があった。この発信機会を増やすために発信プラットフォームを作成したいと思い、6ヶ月間我を忘れるくらい、独学で Rails を学び、現在の「Journey」ができた。これらの様々な挑戦は本当に辛い時もあり、挫けてしまったこともある。しかし、この苦しみがあったからこそ、どんなに困難な課題にも挑戦していける、圧倒的な「実行力」を持つことができ、私の人生における大きな糧となっている。ぜひ我々と共に人生を旅しにいこうではないか。
</p>
<p>
  <a href="https://www.instagram.com/officialjuuun/">Instagram for me</a>.
</p>
<p>
  <a href="https://www.instagram.com/junjun__fitness/">Instagram for junjun_fitness</a>.
</p>
<p>
  <a href="https://youtube.com/channel/UC1pxSvtus4ANjzqmL8x0S9g">Youtube for junjun_fitness</a>.
</p>
